<form [formGroup]="headerForm" id="ng-bubble-editor-controls-1"
      class="jsb-editor-wrapper-header" (click)="action$.emit($event)">

  <i style="font-size: 9px" *ngIf="!componentFiles || componentFiles.length <1">No Files</i>
  <ng-container *ngIf="componentFiles && componentFiles.length >=1">
    <i class="fa fa-file" style="font-size: 13px" title="File Mode"></i>
    <select class="jsb-editor-wrapper-header__files"
            [ngClass]="{'activeTab':activeTab === myEHeaderFormDataKeys.fileName}" formControlName="fileName">
      <option *ngFor="let file of componentFiles" [value]="file.name"><i>{{file.name}}</i></option>
    </select>
  </ng-container>

  <span style="margin-left: auto"></span>
  <label class="switch">
    <input type="checkbox" checked formControlName="editorMode">
    <span class="slider round"></span>
  </label>

  <img [attr.data-cy]="myEDataCy.header_toggle_reset" class="fa-image-svg fa-compress" [src]="BACKEND_IMG_ROOT+ 'compress.svg'" title="Minimize" *ngIf="expand" style="margin: 0px 10px"/>
  <img [attr.data-cy]="myEDataCy.header_toggle_expand" class="fa-image-svg fa-expand" [src]="BACKEND_IMG_ROOT+ 'expand.svg'" title="Minimize" *ngIf="!expand" style="margin: 0px 10px"/>
  <img [attr.data-cy]="myEDataCy.header_toggle_minimize"  class="fa-image-svg fa-window-minimize" [src]="BACKEND_IMG_ROOT+ 'window-minimize.svg'" title="Minimize" *ngIf="!minimize"/>
</form>

