.jsb-editor-wrapper-header {
  display: flex;
  justify-content: flex-end;
  height: 25px;
  padding: 0 10px;
  align-items: flex-end;
  padding-bottom: 5px;
  background-color: rgb(60, 60, 60);



  .jsb-editor-wrapper-header__name {
    font-size: 12px;
    margin-left: 10px;
    color: #cccccc;
  }

  .jsb-editor-wrapper-header__keys {
    cursor: pointer;
    margin-right: 10px;
    /*width: 100px;*/
    max-width: 200px;
    padding-left: 5px;
    font-size: 11px;
    color: #ccc;
    background-color: rgb(60, 60, 60);
    border: 1px solid transparent;
    outline: none !important;
    /*height: 34px;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


  .fa{
    margin-right: 3px;
    cursor: pointer;
  }
  select {
    cursor: pointer;
    margin-right: 10px;
    /*width: 100px;*/
    max-width: 200px;
    //padding-left: 5px;
    font-size: 11px;
    color: #ccc;
    background-color: rgb(60, 60, 60);
    border: 1px solid transparent;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-style: italic;
    font-weight: 400;
  }
  select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
  }

}


.activeTab{
  font-weight: 700 !important;
}


/*slider: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(42, 47, 58);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  background-color: #3c3c3c;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(42, 47, 58);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(42, 47, 58);
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(26px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
