<ng-container *ngIf="(obj|dataType) === 'object'; else log">
  <ng-container *ngIf="(obj|objectByPath:path)||{} as obj_temp">
    <ng-container *ngFor="let key of myObject.keys(obj_temp)" >
      <app-object-key *ngIf="obj_temp && obj_temp[key]"
                      (pin$)="finalPrint($event)"
                      [key]="key"
                      [shouldFoldCode]="shouldFoldCode"
                      [obj]="obj_temp"
                      [val]="obj_temp[key]" ></app-object-key>
    </ng-container>
  </ng-container>

</ng-container>


<ng-template #log>
  <pre>
    {{obj}}
  </pre>
</ng-template>

