<form [formGroup]="searchForm" class="ng-bubble-autocomplete">
  <input
    (keydown)="changeSelectedRow($event)"
    id="ng-bubble-search" autocomplete="off"
    formControlName="keyword" type="text" placeholder="Search project files" autofocus>
  <div id="row-wrapper" style="position: absolute; top: 100%; left: 0; right: 0">
  </div>
</form>

<ng-container *ngIf="searchForm.get('keyword').value">
  <div *ngFor="let file of files| slice:0:10; let i=index"
       [ngClass]="{'highlighted-row': selectedRow === i}"
       class="row-wrapper-item" style="display: flex; align-content: center" (click)="getFileTrigger$.emit(file)">
    <div [title]="file.path" style="display: flex; align-items: center">
      <img [src]="file.name|imageByExtension" alt="">
      <span>{{file.name}}</span>
    </div>
  </div>

</ng-container>