<div (keydown)="changeSelectedRow($event)">
  <form [formGroup]="searchForm" class="ng-bubble-autocomplete">
  <span class="ngb-input-search">
    <input class="ngb-input"
           id="ng-bubble-search" autocomplete="off"
           formControlName="keyword" type="text" placeholder="Search project files" autofocus>
          <img alt="warning logo" class="fa-image-svg" style="margin: 0" [src]="BACKEND_IMG_ROOT+ 'search.svg'"/>
  </span>
  </form>

  <ng-container *ngIf="searchForm.get('keyword').value">
    <div *ngFor="let file of files| slice:0:10; let i=index"
         [ngClass]="{'highlighted-row': selectedRow === i}"
         class="row-wrapper-item" (click)="openInIde(file)">
      <div [title]="file.path" style="display: flex; align-items: center">
        <img [src]="file.name|imageByExtension" alt="">
        <span>{{file.name}}</span>
      </div>
    </div>

  </ng-container>
</div>