@import "../../../common";

:host {
  overflow: hidden; /*todo: hack...this is to hide extra length of the rows*/
}


.row-wrapper-item {
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 11px;
  padding-left: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(60, 60, 60);
  cursor: pointer;

  img {
    width: 16px;
    max-height: 16px;
    border-radius: 50%;
    margin-right: 5px;
  }

  &:hover {
    background-color: black !important;
  }

  &:nth-child(even) {
    background-color: rgba(60, 60, 60, 0.90);
  }

}

.ng-bubble-autocomplete {
  overflow: hidden; /*TODO: hack; if remove there is some overflow on x and y direction*/
  position: relative;

}


.highlighted-row {
  background-color: black !important;
}