// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$color-primary: #516395;
$color-secondary: #ececec;

* :not(.fa){
  font-family: 'Ubuntu', sans-serif;
  line-height: 20px;
  font-size: 13px;
  //padding: 0;
  //margin: 0;
}
p,h4{
  padding: 0;
  margin: 0;
}


.border1{
  border: 1px solid red;
}

.w-100{
  width: 100%;
}

.font-small{
  font-size: 13px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.theme-primary-button{
  --width: 48px;
  --height: 48px;
  --vertical-align: middle;
  --box-shadow: none;
}

@mixin theme-button(){
    --width: 48px;
    --height: 48px;
    --vertical-align: middle;
    --box-shadow: none;
}

.main-title{
  height: 24px;
  font-size: 20px !important;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.text-success{
  color: #71bd1d;
}

@mixin main-title(){
  height: 24px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  //color: #3f3f3f;
}

.bg-black{
  background-color: black;
}