<section class="container">
    <header class="logo-box">
        <img src="assets/img/logo.PNG" alt="">
    </header>
    <main class="sign-up-box">
        <form #form="ngForm">
            <ion-list>
                <ion-item>
                    <ion-input placeholder="Full Name" ngModel name="full_name" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input placeholder="Email" ngModel name="email" type="email" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input placeholder="Password" ngModel name="password" type="password" required></ion-input>
                </ion-item>
            </ion-list>

            <div class="sign-up-box-form-footer">
                <div class="font-small">
                    <span>By signing up, you agree to our </span>
                    <a href="">Terms & Conditions</a>
                </div>

                <div class="w-100 submit-wrapper">
                    <ion-button (click)="navigate()" [disabled]="!form.valid" shape="round" [color]="form.valid?'primary':'secondary'" expand="full" >
                            Sign Up
                    </ion-button>
                </div>
                <div class="font-small">
                    <span>Already have an account? </span>
                    <a href="">Sign in</a>
                </div>
            </div>
        </form>
    </main>
</section>