@import "~src/global";

.container{
  width: 100vw;
  height: 100vh;
  background: #614385;
  display: flex;
  flex-direction: column;
  header{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 30%;
    }
  }

  .sign-up-box{
    margin-top: auto;
    background: white;
    flex-basis: 75%;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    form{
      padding: 32px;
      ion-item{
        margin-bottom: 32px;
        ion-input{
          --placeholder-color:$color-secondary;
        }
      }
      .sign-up-box-form-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .submit-wrapper{
          margin: 40px 0px 30px 0;
          ion-button{
            //--width: 48px;
            //--height: 48px;
            //--vertical-align: middle;
            //--box-shadow: none;
            @include theme-button();
          }
        }
      }
    }
  }
}