@import "../../../common";

.menu-wrapper {
  color: $color-grey-secondary;
  position: fixed;
  z-index: $z-too-high;

  .fa {
    padding: 4px;
  }

  .menu-wrapper__title {
    display: inline-block;
    background-color: $color-pitch-black;
    font-size: 9px !important;
    padding-left: 4px
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .menu__item {
      font-size: 10px;
      padding: 5px 10px;
      cursor: pointer;
      background-color: $color-pitch-black;
      &:hover {
        background-color: $color-pitch-black-light;
      }
      &:first-child{
        cursor: default;
        background-color: $color-pitch-black!important; /*override: dont change on hover*/
      }
    }

    .menu__item-name {
      font-weight: 700;
    }
  }

}