<section class="container">
    <div class="header" style="height: 25%">
        <h4 class="main-title">{{ONBOARDING_TITLE[stage]}}</h4>
        <p>Step {{stage + 1}} of 5</p>
        <img [src]="'assets/img/'+ myONBOARDING_LOGOS[stage]" alt="">
    </div>
    <main class="verify-box" [ngStyle]="{'background-color': stage===myEOnboardingStage.FaceId? 'black': 'white'}">
        <app-onboarding-email
                (onboardingStageChanged$)="stage = $event"
                *ngIf="stage===myEOnboardingStage.Email">
        </app-onboarding-email>
        <app-onboarding-mobile
                (onboardingStageChanged$)="stage = $event"
                *ngIf="stage===myEOnboardingStage.Mobile">
        </app-onboarding-mobile>
        <app-onboarding-face-id
                (onboardingStageChanged$)="stage = $event"
                *ngIf="stage===myEOnboardingStage.FaceId">
        </app-onboarding-face-id>
    </main>
</section>