.container{
  width: 100vw;
  height: 100vh;
  background: #614385;
  display: flex;
  flex-direction: column;
  .header{
    height: 25%;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    padding: 32px;
    color: white;
    position: relative;
    img{
      height: (96/160)*100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateY(50%) translateX(-50%);
    }
  }

  .verify-box{
    flex-basis: 75%;
    padding: 56px 38px;
  }

}