<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<i>{{headerForm.value|json}}</i>
<!--TODO: click-->
<jsb-menu *ngIf="showTooltip"
          [coords]="_coords"
          (dblclick)="$event.stopPropagation()"
          (mouseover)="$event.stopPropagation()"
          (action$)="sidebarActionHandler($event)"
          (showTooltip$)="showTooltip = $event"></jsb-menu>

<div class="jsb-editor-wrapper"
     (dblclick)="$event.stopPropagation()"
     (scroll)="$event.stopPropagation()"
     [ngStyle]="{'top': top,left:left, right:right, bottom:bottom}"
     *ngIf="!minimize">

  <jsb-editor-header
    [componentFiles]="_componentfiles"
    [componentKeys]="keyOptions"
    [headerForm]="headerForm"
    [minimize]="minimize"
    [path]="path"
    (path$)="pathChangedHandler($event);"
    [expand]="expand"
    [activeTab]="activeHeaderTab"
    (action$)="sidebarActionHandler($event)"
    (headerDataChanged$)="headerDataChangedHandler($event)"></jsb-editor-header>

  <div class="jsb-editor-wrapper-body" *ngIf="!minimize">


    <jsb-editor-sidebar (action$)="sidebarActionHandler($event)"
                        [config]="config"
                        [shouldFoldCode]="shouldFoldCode"
                        [activeHeaderTab]="activeHeaderTab"></jsb-editor-sidebar>
<i style="position: fixed; top: 0">{{length}}</i>
    <div #editor1 id="test2" #mark (click)="test(mark)"
         mwlResizable
         class="no-scroll-bar"
         [enableGhostResize]="true"
         [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
         (resizeEnd)="onResizeEnd($event, editor1)"
         [resizeCursorPrecision]="5"
         style="display: flex; width: 50%">
      <jsb-editor
        id="test1"
        style="flex-grow: 1"
        [level]="headerFormData.key==='All'?3:6"
        [codeText]="fileData"
        [shouldFoldCode]="shouldFoldCode"></jsb-editor>
      <div class="resizer-bar">
        <i class="fa fa-ellipsis-v"></i>
      </div>
    </div>
    <app-object-tray
      *ngIf="!headerForm.get('editorMode').value"
      [obj]="codeData"
      (path$)="pathChangedHandler($event);"
      [path]="path"
      [shouldFoldCode]="!shouldFoldCode"
      style="background-color: #0a001f;overflow-y: scroll;flex-grow: 1; flex-shrink: 1; flex-basis: 0">
    </app-object-tray>
    <!--<i>{{codeData|json}}</i>-->
    <!--<app-js-console-->
    <!--style="width: 100%; height: 100%; background-color: rgb(42, 47, 58);overflow-y: scroll"></app-js-console>-->
    <jsb-editor *ngIf="headerForm.get('editorMode').value"
                style="flex-grow: 1; flex-shrink: 1; flex-basis: 0  "
                [level]="headerFormData.key==='All'?3:6"
                [codeText]="codeData|objectByPath:path"
                [shouldFoldCode]="shouldFoldCode"></jsb-editor>

    <div [hidden]="!showSearchPanel">
      <div class="file-search-panel" (click)="test()">
        <!--<i>showSearchPanel: {{showSearchPanel}}</i>-->
        <jsb-file-search-panel
          (click)="$event.stopPropagation()"
          (showSearchPanel$)="showSearchPanel=$event"

          (getFileTrigger$)="getFileTriggerHandler($event)"
          (searchEvent$)="searchTrigger$.emit($event);"></jsb-file-search-panel>
      </div>
    </div>
  </div>
</div>

<div *ngIf="minimize"
     style="background-color: rgb(60, 60, 60); position: fixed; padding: 10px; cursor: pointer; bottom: 0; right: 10px"
     (click)="minimize = false"
>
  <i class="fa fa-window-maximize" style="color: white"></i>
</div>
<!--<div>this is editor</div>-->