//$fa-font-path: "../../../node_modules/font-awesome/fonts";
//@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../common.scss";

:host {
  position: fixed;
  z-index: $z-too-high;
  all: initial;
}

.jsb-editor-wrapper {
  background-color: $color-pitch-black;
  color: $color-grey-secondary;
  position: fixed;
  z-index: $z-too-high;
  display: flex;
  flex-direction: column;
  overflow: hidden; /*TODO: hack*/

  .key-search-input {
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 10000000000000;
    max-width: 200px
  }


  .jsb-editor-wrapper-body {
    background-color: black;
    display: flex;
    width: 100%;
    flex-grow: 1;
    position: relative;
    height: 40vh;

    jsb-editor-sidebar {
      width: 40px;
      display: flex;
      flex-shrink: 0;
      background-color: #333;
    }

    jsb-editor {
      width: 100%;
    }
  }

  .file-search-panel {
    position: absolute;
    top: 5px;
    left: 45px;
    right: 5px;
    bottom: 0;
    //background-color: #ffffff30;
    z-index: $z-file-search-panel;
    overflow-x: hidden; /*TODO: this is a hack*/
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: flex-start;

    jsb-file-search-panel {
      width: 80%;
      max-width: 400px;
    }
  }

}

jsb-menu {
  position: fixed;
  top: 200vh;
  left: 200vw;
  z-index: $z-too-high;
}


.resizer-bar {
  width: 2px;
  min-width: 2px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #aaa;

  &:hover {
    background-color: white;
  }

  z-index: $z-resizer-bar;

  i {
    color: black;
    font-size: 20px
  }
}

//#test2::after{
//  content: 'hello';
//}

::ng-deep {
  .file-editor {
    *::-webkit-scrollbar {
      display: none;
    }
  }
}


//::ng-deep{
.jsb-json-viewer {
  margin-left: 10px;
  display: block;

  * {
    font-size: 10px;
  }

  .segment-key {
    color: greenyellow !important;
  }

  .toggler {
    margin-top: 1px !important;
  }
}

//}


/*replace the content value with the
corresponding value from the list below*/


.animation-slide-right {
  transform: translateX(80%);

  &:hover {
    transform: translateX(0);
    transition: 0.3s;
  }
}

.minimize-placeholder {
  background-color: rgb(60, 60, 60);
  position: fixed;
  padding: 5px;
  cursor: pointer;
  bottom: 0;
  right: 10px;
  i {
    display: block;
    width: 24px;
    height: 18px;
    border: 1px solid white;
    border-top: 12px solid white;
    border-radius: 3px;
  }
}