//@import "../node_modules/codemirror/lib/codemirror.css"; TODO: this import throws error

$z-too-high:10000000000000000; /*its over 9000!!!*/
$z-editor-wrapper:1;
$z-resizer-bar:3;
$z-file-search-panel:4;

/*colors*/
$color-pitch-black: rgb(51, 51, 51);
$color-pitch-black-light: rgb(51, 75, 51);
$color-grey-secondary: #ccc;
$color-object-trey-values: rgb(111, 179, 210);


*{
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.no-scroll-bar{
  *{
    ::-webkit-scrollbar {
      width: 0px !important;
    }
  }
}

.ngb-input{
  height: 30px; width: 100%;
  outline: none;
  border: 1px solid transparent;
  font-size: 11px;
  color: white;
  padding-left: 30px;
  background-color: rgba(60, 60, 60, 0.90)!important;
  ::placeholder{
    padding-left: 50px;
    margin-left: 50px;
  }
}

//.ngb-input-search{
//  height: 30px; width: 100%;
//  outline: none;
//  border: 1px solid transparent;
//  font-size: 11px;
//  color: white;
//  padding-left: 10px;
//  background-color: rgba(60, 60, 60, 0.90)!important;
//  ::placeholder{
//    padding-left: 50px;
//    margin-left: 50px;
//  }
//
//  &::after{
//    content: 'hello';
//    //content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
//    //font-family: FontAwesome;
//    //left:-5px;
//    //position:absolute;
//    //top:0;
//  }
//
//}


.ngb-input-search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #ffffff9e;
  font-size: 15px;
  padding-right: 0.5em;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-40%);
  box-shadow: 0 0 black;
}
