//@import "../node_modules/codemirror/lib/codemirror.css"; TODO: this import throws error

//$fa-font-path: "/../node_modules/font-awesome/fonts";
//@import "/../node_modules/font-awesome/scss/font-awesome.scss";

/**
*common:scss: this scss file is shared across all components
*/

$z-too-high:10000000000000000; /*its over 9000!!!*/
$z-editor-wrapper:1;
$z-resizer-bar:3;
$z-file-search-panel:4;
$z-data-search-panel:5;

/*colors*/
$color-pitch-black: rgb(51, 51, 51);
$color-pitch-black-light: rgb(51, 75, 51);
$color-grey-secondary: #ccc;
$color-object-trey-values: rgb(111, 179, 210);


*{
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.no-scroll-bar{
  *{
    ::-webkit-scrollbar {
      width: 0px !important;
    }
  }
}

.ngb-input{
  //height: 30px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  font-size: 11px;
  color: white;
  padding-left: 30px;
  background-color: transparent!important;
  ::placeholder{
    padding-left: 50px;
    margin-left: 50px;
  }
}

.ngb-input-search{
  height: 30px;
  display: flex;
  background-color: rgba(60, 60, 60, 0.90)!important;
}
.ngb-input-search img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.fa-image-svg{
  height: 14px;
  width: 14px;
  margin-top: 16px;
  cursor: pointer;
}

